{% extends "layout.html" %}

{% block main%}
<div class="container">
    <div class="form">
        <form action="/registration" method="POST" id="formRegLog" >
                <div class="form-group">
                    <input type="text" class="form-control" minlength="2" maxlength="50" name="name" required autofocus placeholder="Name">
                </div>

                <div class="form-group" >
                    <input type="email" class="form-control" name="email" required maxlength="50" placeholder="Email">
                </div>

                <div class="form-group" >
                    <input type="password" class="form-control" name="password" maxlength="50" required placeholder="Password">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password2" maxlength="50" required placeholder="Password(again)">
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="checkboxRegister" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Показать пароль</label>
                </div>

                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>

{%endblock%}